.main-body{
    width: 90vw;
    margin-left:-20rem;
    height: 100vh;
    padding: 1rem;
    font-size: 2rem;
    padding-left: 40rem;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .promo_card{
    width: 90vw;
    color: #fff;
    margin-left: -3rem;
    margin-top: 10px;
    height: 30vh;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    /* padding-left: 40rem; */
    /* background: rgb(37, 37, 37); */
    background: #00174b;
  }
  .promo_card h1, .promo_card span, button{
    margin: 10px;
    font-size: 2rem;
  }
  .promo_card button{
    display: block;
    font-size: 2rem;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  .history_lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;

  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    
  }
  table{
    background: #fff;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    
  }
  table td, th{
    padding: 0.2rem 0.8rem;
    
  }
  table th{
    font-size: 2rem;
  }
  table td{
    font-size: 1rempx;
    color: rgb(100, 100, 100);
  }
  /* Sidebar Section */
  /* .sidebar4{
    width: 15%;
    padding: 2rem 1rem;
    background: #fff;
  }
  .sidebar4 h4{
    margin-bottom: 1.5rem;
  }
  .sidebar4 .balance{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .balance .icon{
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 1rem;
    margin-left: 140rem;
    margin-top: -133rem;
    background: rgb(37, 37, 37);
  }
  .balance .info h5{
    font-size: 16px;
  }
  .balance .info span{
    font-size: 14px;
    color: rgb(100, 100, 100);
  }
  .balance .info i{
    margin-right: 2px;
  } */