@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.hero-section {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    margin-top: -2rem;
    margin-left: -2.3rem;
    animation: slideAnimation 15s linear infinite;
  }
  
  .carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

  .carousel-slide:nth-child(1) {
    background-image: url("C:\Users\VAISHNAVI.M\OneDrive\Documents\GitHub\React_IRC\CC_2\review2\src\Assets\IMG\Screenshot 2023-12-19 230053.png");
  }
  
  .carousel-slide:nth-child(2) {
    background-image: url("C:\Users\VAISHNAVI.M\OneDrive\Documents\GitHub\React_IRC\CC_2\review2\src\Assets\IMG\Screenshot 2023-12-20 205904.png");
  }
  
  .carousel-slide:nth-child(3) {
    background-image: url("C:\Users\VAISHNAVI.M\OneDrive\Documents\GitHub\React_IRC\CC_2\review2\src\Assets\IMG\Screenshot 2023-12-20 205924.png");
  }
  
  .carousel-slide:nth-child(4) {
    background-image: url("C:\Users\VAISHNAVI.M\OneDrive\Documents\GitHub\React_IRC\CC_2\review2\src\Assets\IMG\Screenshot 2023-12-20 205947.png");
  }
  
  .carousel-slide:nth-child(5) {
    background-image: url("C:\Users\VAISHNAVI.M\OneDrive\Documents\GitHub\React_IRC\CC_2\review2\src\Assets\IMG\Screenshot 2023-12-20 210023.png");
  }


/* cards */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');




.cart-box{
    width:26%;
    position: absolute;
    left:72%;
    /* top:25%; */
    /* border:solid 1px blue; */
    padding:10px 20px;
    color: white;
}
#shpBag{
    font-size: x-large;
    padding:15px 10px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}

.view-cart{
    background-color: #201d1d;
    border: 2px solid rgba(99, 197, 177, 0.718);
    color: rgba(99, 197, 177, 0.718);
}
.cart-icon{
    text-align: right;
    cursor:pointer;
    position: fixed;
    right: 30px;
    top: 12vh;
    color: #201d1d;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
  color: wheat;
}

.cart-item img{
    width:100%;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }

 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:18vh;
     background-color: #201d1d;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color:beige;
  border-radius: 20%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height:600px;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.card-item img{
    margin-left: 42rem;
    width:50%;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
    margin-left: 40rem;
}
.card-item span{
    display: block;
    margin-top:10px;
}
