.sidebar {
    background: #00174b;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 1000; 
  }
  
  .container {
    display: flex;
    margin-left: -70px; /* Adjust this value based on your design */
  }
  
  .main-content {
    width: calc(100% - 50px); /* Adjust this value based on your design */
    padding: 20px;
    transition: margin-left 0.5s;
  }
  
  .sidebar .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }

  
 .logo1 {
    font-size: 23px;
  }
  
  .sidebar .bars{
    display: flex;
    font-size: 20px;
    margin-left: 50px;
  }
  
  .bars{
    margin-left: 20px;
  }
  
  .sidebar .link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
  }
  
  .sidebar .link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
  }
  
  .sidebar .active {
    background: lightskyblue;
    color: #000;
  }
  
  .sidebar .icon,
  .sidebar {
    font-size: 20px;
  }

  .link_text{
    font-size: 15px;
  }
  